<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Camden::StyleGuide::TagHelper.style_guide_css_pack_tag media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
