<section id="forms" class="u-mb bg-white u-p u-pt++">
    <h3>Forms</h3>
    <div id="button" class="u-mb">
        <h5>Primary</h5>
        <button class="c-btn c-btn--primary u-mb-">Click Me</button>

        <h5>Secondary</h5>
        <button class="c-btn c-btn--secondary u-mb-">Click Me</button>

        <h5>Tertiary</h5>
        <button class="c-btn c-btn--tertiary">Click Me</button>
    </div>

    <div id="inputs">
        <h5>Inputs</h5>
        <p>Elements styled within form element with .camden-form class</p>

        <form class="camden-form">
            <h6>Input box</h6>
            <input type="text" placeholder="Type in here" class="u-mb" />
            <h6>Search box</h6>
            <div class="bg-light-gray u-p u-mb">
              <input type="search" placeholder="Search" />
            </div>

            <h6>Checkboxes</h6>

            <fieldset class="u-mb">
                <input id="checkbox-id" type="checkbox" />
                <label for="checkbox-id">
                    Checkbox
                </label>
            </fieldset>

            <h6>Radio</h6>

            <fieldset class="u-mb">
                <input id="radio-1" name="fruit" value="apple" type="radio" />
                <label for="radio-1">Apples</label>
            </fieldset>

            <fieldset class="u-mb">
                <input id="radio-2" name="fruit" value="pears" type="radio" />
                <label for="radio-2">Pears</label>
            </fieldset>

            <fieldset class="u-mb">
                <input id="radio-3" name="fruit" vaule="stairs" type="radio" />
                <label for="radio-3">Stairs</label>
            </fieldset>

            <h6>Select / Dropdowns</h6>
            
            <fieldset class="u-mb">
                <div class="select-container">
                    <select id="rhymes">
                        <option>Pork Pies</option>
                        <option>Eyes</option>
                        <option>Butchers Hook</option>
                        <option>Look</option>
                    </select>
                </div>
            </fieldset>
        </form>
    </div>
</section>

<section id="layout" class="u-mb bg-white u-p u-pt++">
    <h3>Layout</h3>
    <h4>Grid</h4>

    <div class="o-layout  u-mb">
        <div class="o-layout__item u-1-of-1">
          <div class="u-p-- b-gray b-sm bg-light-gray c-black u-mb">
            One Column
          </div>
        </div>

        <div class="o-layout__item u-1-of-2">
          <div class="u-p-- b-gray b-sm bg-light-gray c-black  u-mb">
            Two Columns
          </div>
        </div>

        <div class="o-layout__item u-1-of-2">
          <div class="u-p-- b-gray b-sm bg-light-gray c-black  u-mb">
            Two Columns
          </div>
        </div>

        <div class="o-layout__item u-1-of-4">
          <div class="u-p-- b-gray b-sm bg-light-gray c-black  u-mb">
            Four Columns
          </div>
        </div>

        <div class="o-layout__item u-1-of-4">
          <div class="u-p-- b-gray b-sm bg-light-gray c-black  u-mb">
            Four Columns
          </div>
        </div>
        <div class="o-layout__item u-1-of-4">
          <div class="u-p-- b-gray b-sm bg-light-gray c-black  u-mb">
            Four Columns
          </div>
        </div>

        <div class="o-layout__item u-1-of-4">
          <div class="u-p-- b-gray b-sm bg-light-gray c-black  u-mb">
            Four Columns
          </div>
        </div>
    </div>
</section>

<section id="colours" class="u-mb bg-white u-p u-pt++">
    <h3>Colours</h3>
    <p>Can be accessed in css using the palette($name) function. or helper classes for colour, background and borders</p>

<div class="o-layout u-ml0 u-mb bg-white">
    <div class="o-layout__item u-1-of-12 bg-blue">
    </div>
        <div class="o-layout__item u-1-of-12 bg-green">
        </div>
        <div class="o-layout__item u-1-of-12 bg-light-gray">
        </div>
        <div class="o-layout__item u-1-of-12 bg-gray">
        </div>
        <div class="o-layout__item u-1-of-12 bg-dark-gray">
        </div>
        <div class="o-layout__item u-1-of-12 bg-white">
        </div>
        <div class="o-layout__item u-1-of-12 bg-black">
        </div>
        <div class="o-layout__item u-1-of-12 bg-yellow">
        </div>
        <div class="o-layout__item u-1-of-12 bg-red">
        </div>
        <div class="o-layout__item u-1-of-12 bg-orange">
        </div>
    </div>
</section>

<section id="borders" class="bg-white u-p u-pt++ u-mb">
    <h3>Borders</h3>
    <div class="o-box b-sm u-mb">
       <div class="b-gray u-mb u-mr">
         Small
      </div>
      <div class="o-box b-md">
        <div class="b-gray u-mb u-mr">
          Medium
        </div>
        <div class="o-box b-lg">
          <div class="b-gray u-mb u-mr">
            Large
          </div>
        </div>
      </div>
    </div>

    <div class="b-sm__b b-gray u-mb">
        Border Bottom
    </div>

    <div class="b-md__r b-blue u-mb">
        Border Right Blue
    </div>

</section>

<section id="icons" class="bg-white u-p u-pt++">
    <h3>Icons</h3>
    <p>Combine with background colour for colour changes</p>
    <p><i class="bg-black c-icon c-icon--close"></i> Close</p>
    <p><i class="c-icon c-icon--sort-down"></i> Sort Down</p>
    <p><i class="c-icon c-icon--sort-up"></i> Sort Up</p>
    <p><i class="bg-gray c-icon c-icon--sort"></i> Sort</p>
    <p><i class="bg-black c-icon c-icon--chevron-right"></i> Chevron Right</p>
    <p><i class="bg-black c-icon c-icon--chevron-left"></i> Chevron Left</p>
    <p><i class="bg-black c-icon c-icon--chevron-up"></i> Chevron Up</p>
    <p><i class="bg-black c-icon c-icon--chevron-down"></i> Chevron Down</p>
    <p><i class="bg-black c-icon c-icon--dots"></i> Dots</p>
    <p><i class="bg-black c-icon c-icon--search"></i> Search</p>
    <p><i class="bg-black c-icon c-icon--file"></i> File</p>
    <p><i class="bg-green c-icon c-icon--import"></i> Import</p>
    <p><i class="bg-green c-icon c-icon--tick"></i> Tick</p>
    <p><i class="bg-red c-icon c-icon--cross"></i> Cross</p>
    <div class="u-mt">
        <h4>Examples</h4>
        <div class="bg-green b-circle c-icon c-icon--medium">
            <i class="bg-white c-icon c-icon--tiny c-icon--tick"></i>
        </div>

        <div class="b-red b-sm b-circle c-icon c-icon--medium">
            <i class="bg-red c-icon c-icon--tiny c-icon--tick"></i>
        </div>

        <div class="bg-red b-circle c-icon c-icon--medium">
            <i class="bg-white c-icon c-icon--tiny c-icon--cross"></i>
        </div>
        
        <button class="c-btn c-btn--primary u-mb-">
            <i class="bg-white c-icon c-icon--import"></i> Import
        </button>
    </div>

</section>
