<section id="forms" class="u-mb">
    <h3>Forms</h3>
    <div id="button">
        <h4>Button</h4>
        <button class="c-btn">Click Me</button>

        <h5>Primary</h5>
        <button class="c-btn c-btn--primary">Click Me</button>
    </div>
</section>

<section id="layout" class="u-mb">
    <h3>Layout</h3>
    <h4>Grid</h4>

    <div class="o-layout u-mb">
        <div class="o-layout__item u-1-of-1">
            One Column
        </div>

        <div class="o-layout__item u-1-of-2">
            Two Columns
        </div>

        <div class="o-layout__item u-1-of-2">
            Two Columns
        </div>

        <div class="o-layout__item u-1-of-4">
            Four Columns
        </div>

        <div class="o-layout__item u-1-of-4">
            Four Columns
        </div>
        <div class="o-layout__item u-1-of-4">
            Four Columns
        </div>

        <div class="o-layout__item u-1-of-4">
            Four Columns
        </div>
    </div>

    <h4>Utility Classes</h4>
    <pre>
        <code>
    <div class="l-inline-block">
    </div>

    <div class="l-block">
    </div>
        </code>
    </pre>
</section>
