<section id="forms" class="u-mb">
    <h3>Forms</h3>
    <div id="button">
        <h4>Button</h4>
        <button class="c-btn u-mb">Click Me</button>

        <h5>Primary</h5>
        <button class="c-btn c-btn--primary">Click Me</button>
    </div>
</section>

<section id="layout" class="u-mb">
    <h3>Layout</h3>
    <h4>Grid</h4>

    <div class="o-layout o-layout--small u-mb">
        <div class="o-layout__item u-1-of-1">
            One Column
        </div>

        <div class="o-layout__item u-1-of-2">
            Two Columns
        </div>

        <div class="o-layout__item u-1-of-2">
            Two Columns
        </div>

        <div class="o-layout__item u-1-of-4">
            Four Columns
        </div>

        <div class="o-layout__item u-1-of-4">
            Four Columns
        </div>
        <div class="o-layout__item u-1-of-4">
            Four Columns
        </div>

        <div class="o-layout__item u-1-of-4">
            Four Columns
        </div>
    </div>
</section>

<section id="colours" class="u-mb">
    <h3>Colours</h3>
    <p>Can be accessed in css using the palette($name) function. or helper classes for colour, background and borders</p>

<div class="o-layout u-ml0">
    <div class="o-layout__item u-1-of-12 bg-blue">
    </div>
        <div class="o-layout__item u-1-of-12 bg-green">
        </div>
        <div class="o-layout__item u-1-of-12 bg-light-gray">
        </div>
        <div class="o-layout__item u-1-of-12 bg-gray">
        </div>
        <div class="o-layout__item u-1-of-12 bg-white">
        </div>
        <div class="o-layout__item u-1-of-12 bg-black">
        </div>
        <div class="o-layout__item u-1-of-12 bg-yellow">
        </div>
        <div class="o-layout__item u-1-of-12 bg-red">
        </div>
    </div>
</section>
