@use 'sass:map';

@function palette($name) {
    @return map-get($palette, $name);
}

$palette: (
    black: #2A2828,
    yellow: #F7C745,
    red: #E1655B,
    blue: #156BEC,
    green: #22C99B,
    light-gray: #EFEFEF,
    gray: #54585A,
    white: #FFF,
);

$primary-colour: palette(blue) !default;
$secondary-colour: palette(green) !default;
$tertiary-colour: palette(gray) !default;

$palette: map.set($palette, primary, $primary-colour);
$palette: map.set($palette, secondary, $secondary-colour);
$palette: map.set($palette, tertiary, $tertiary-colour);

@each $name, $colour in $palette {
    .c-#{""+$name} {
        color: $colour;
    }

    .bg-#{""+$name} {
        background: $colour;
    }

    .b-#{""+$name} {
        border-colour: $colour;
    }
}
