<!DOCTYPE html>
<html>
<head>
  <title>Camden style guide</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag "style_guide", media: "all" %>
</head>
<body>
    <header>
        <h1>Camden Style Guide</h1>
    </header>

    <main>
      <%= yield %>
    </main>

</body>
</html>
